body {
    --primary-color:#dddddd;
    --secondary-color:white;
    --third-color:#515151;
    --fourth-color:#6e6e6e;
    --text-color:black;
    --secondary-text-color:#313131;
    --font:Helvetica, Arial, sans-serif;
    background:var(--primary-color);
    color:var(--text-color);
    font-family:var(--font);
    height:100%;
    overflow:hidden;
}

input {
    background:var(--third-color);
    color:var(--text-color);
    border:0;
    border-radius:2px;
}

a {
    color:var(--secondary-text-color);
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
    text-decoration-color:var(--secondary-text-color);
}

.textBox {
    width:200px;
    height:20px;
    outline:none;
    font-family:var(--font);
}

.mid .textBox {
    width:70% !important;
    min-width:200px;
    height:35px !important;
    padding:1%;
}

.subBox {
    cursor:pointer;
    height:20px;
    padding-left:5px;
    padding-right:5px;
    vertical-align:center;
    font-family:var(--font);
}

.subBox:hover{
    background-color:var(--fourth-color);
}

.mid .subBox {
    height:35px !important;
}

.mid {
    position:absolute;
    left:50%;
    top:50%;
    min-width:410px;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    text-align:center;
}

.footer {
    bottom:0;
    left:0;
    position:fixed;
    z-index:1;
    padding-left:1%;
    width:100%;
    height:40px;
    text-align:center;
}

@media (prefers-color-scheme: dark) {
    body {
        --primary-color:#282828;
        --secondary-color:#353535;
        --third-color:#515151;
        --text-color:#d3d3d3;
        --secondary-text-color:#f0f0f0;
    }
}
